[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nptyping = "*"
numpy = "*"

[dev-packages]
jupyter = "*"
notebook = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
